/* Variabel CSS */
:root {
    --main-color: rgba(0, 0, 0, 0.1);
}

/* Box-sizing untuk semua elemen */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar-logo {
    max-height: 70px;
    max-width: 150px;
    height: auto;
    margin-right: 10px;
  }

.navbar {
    box-shadow: 0 2px 4px var(--main-color);
}

.navbar-text {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
    margin-left: 0px;
  }

.jumbotron {
    background-image: url('https://source.unsplash.com/1920x1080/?mosque');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

hr {
    border-top: 1px solid var(--main-color);
}

@media (max-width: 768px) {
    /* Aturan CSS untuk layar kecil */
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
    /* Gaya footer Anda di sini */
}